<mat-drawer-container class="container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side" opened="true" [ngClass]="isAuthenticated() ? '' : 'hidden'">
        <div class="side-container">
        <div id="profile">
            <img src="assets/pp.jpg" alt="">
            <h2>Welcome User</h2>
            <div class="logout">
            <button mat-raised-button (click)="logout()">Logout</button>
            </div>
        </div>
        </div>
    </mat-drawer>

    <div class="example-sidenav-content">
        <button type="button" mat-button (click)="drawer.toggle()">
            Toggle sidenav
        </button>
    </div>  

    <router-outlet></router-outlet>
</mat-drawer-container>