<h1 mat-dialog-title>Create Ticket</h1>
<form [formGroup]="form">
    <div mat-dialog-content>
        <mat-grid-list cols="3" rowHeight="3:1">
            <mat-grid-tile>
                <mat-form-field appearance="fill">
                    <mat-label>Assignee</mat-label>
                    <mat-select [formControl]="assignee" required>
                        <mat-option *ngFor="let assignee of assigneeList" [value]="assignee.userID" (onSelectionChange)="assigneeSelected($event)">
                            {{ assignee.userFName }} {{ assignee.userLName }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="assignee.hasError('required')">
                        Assignee field is required.
                    </mat-error>
                  </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="fill">
                    <mat-label>Tracker</mat-label>
                    <mat-select [formControl]="tracker" required>
                        <mat-option *ngFor="let tracker of trackerList" [value]="tracker.ticketTypeID" (onSelectionChange)="checkDefaultAssignee(tracker, $event)" >
                            {{ tracker.typeName }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="tracker.hasError('required')">
                        Tracker field is required.
                    </mat-error>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="fill">
                    <mat-label>Subject</mat-label>
                    <input matInput [formControl]="subject" required>
                    <mat-error *ngIf="subject.hasError('required')">
                        Subject field is required.
                    </mat-error>
                  </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="fill">
                    <mat-label>Description</mat-label>
                    <input matInput [formControl]="description">
                    <mat-error *ngIf="description.hasError('required')">
                        Description field is required.
                    </mat-error>
                  </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="fill">
                    <mat-label>Status</mat-label>
                    <mat-select [formControl]="status" required>
                        <mat-option *ngFor="let status of statusList" [value]="status.statusID">
                            {{ status.statusName }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="status.hasError('required')">
                        Status field is required.
                    </mat-error>
                  </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <input type="file" name="file" id="input-file-id" (change)="onFileChanged($event)">
            </mat-grid-tile>
        </mat-grid-list>
    </div>
    <div mat-dialog-actions>
      <button mat-button mat-dialog-close>Back</button>
      <button mat-button (click)="file.value ? uploadFile() : createTicket()">Create</button>
    </div>
</form>