<nav class="navbar navbar-light bg-light justify-content-center">
  <a class="navbar-brand" href="#">
    <img
      src="https://alliance.com.ph/images/asi-logo-invert.svg"
      width="187"
      height="55"
      alt=""
    />
  </a>
</nav>

<div id="home">
  <div id="menu">
    <div class="buttons">
      <a class="btn btn-primary" (click)="nav('home')">Ticket List</a>
      <a class="btn btn-primary disabled">New Ticket</a>
    </div>
  </div>

  <div id="content">
    <div class="card">
      <div class="card-header">New Ticket</div>
      <div class="card-body">
        <form class="inputs">
          <div class="col-sm-10">
            <div id = "forms">
            <div class="left">
              <input
                type="number"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="Ticket ID"
              />
            </div>
            <div class="left">
              <input
                type="text"
                list="assignee"
                autocomplete="off"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="Assignee ID"
              />
            </div>
            <datalist id="assignee">
              <option value="Saturnina Alvarez">
              <option value="Rejine Alquisa">
              <option value="Pelisa Jane Ligalig">
              <!-- ... -->
            </datalist>
            <div class="clear">&nbsp;</div>
            <div class="left">
              <input
                type="text"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="Tracker ID"
              />
            </div>
            <div class="left">
              <input
                type="text"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="Status ID"
              />
            </div>
            <div class="clear">&nbsp;</div>
            <div class="Subject">
              <input
                type="text"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="Subject"
              />
            </div>
            <div class="clear">&nbsp;</div>
            <div class="Description">
              <textarea
                cols="25"
                rows="10"
                type="text"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="Description"
              ></textarea>
            </div>
            <div class="clear">&nbsp;</div>
            <div class="dates">
            <div class="left">
              <label for="createdAt">Created</label>
              <input
                name= "createdAt"
                type="date"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="Created At"
              />
            </div>
            <div class="left">
              <label for="expiresAt">Expires</label>
              <input
                name="expiresAt"
                type="date"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="Expires At"
              />
          </div>
        </div>
          <div class="clear">&nbsp;</div>
        </div>
          </div>

          <div class="buttons">
            <button class="btn btn-primary" type="submit">
              Create Ticket
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
