<p>user-home works!</p>
<nav class="navbar navbar-light bg-light justify-content-center">
    <a class="navbar-brand" href="#">
      <img
        src="https://alliance.com.ph/images/asi-logo-invert.svg"
        width="187"
        height="55"
        alt=""
      />
    </a>
  </nav>
  
  <div id="home">
  
    <div id ="menu">
      <div class= "buttons">
        <a class="btn btn-primary disabled">Ticket List</a>
        <a class="btn btn-primary" (click)="nav('new')">New Ticket</a>
    </div>
  </div>
  
  <div id="content">
    <div class="card">
      <div class="card-header">Ticket List</div>
      <div class="card-body">
        <div class="form-outline mb-4">
          <input
            type="search"
            class="form-control"
            id="datatable-search-input"
            placeholder="Search"
          />
        </div>
        <!-- <div class="text-center" *ngIf="users == 0">
                  <div class="spinner-border" role="status">
                  </div>
                </div> -->
        <!-- <div id="datatable" *ngIf="users != 0"> -->
        <table class="table table-hover" style="overflow: auto; height: 480px">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Assignee</th>
              <th></th>
              <th scope="col">Tracker</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
            <!-- <tr *ngFor="let user of users.data; index as i"> -->
            <tr data-toggle="modal" data-target="#exampleModal">
              <th scope="row">Placeholder</th>
              <td colspan="2">Placeholder</td>
              <td>Placeholder</td>
              <td>Placeholder</td>
            </tr>
            <tr>
              <th scope="row">Placeholder</th>
              <td colspan="2">Placeholder</td>
              <td>Placeholder</td>
              <td>Placeholder</td>
            </tr>
            <tr>
              <th scope="row">Placeholder</th>
              <td colspan="2">Placeholder</td>
              <td>Placeholder</td>
              <td>Placeholder</td>
            </tr>
            <tr>
              <th scope="row">Placeholder</th>
              <td colspan="2">Placeholder</td>
              <td>Placeholder</td>
              <td>Placeholder</td>
            </tr>
            <tr>
              <th scope="row">Placeholder</th>
              <td colspan="2">Placeholder</td>
              <td>Placeholder</td>
              <td>Placeholder</td>
            </tr>
            <tr>
              <th scope="row">Placeholder</th>
              <td colspan="2">Placeholder</td>
              <td>Placeholder</td>
              <td>Placeholder</td>
            </tr>
            <tr>
              <th scope="row">Placeholder</th>
              <td colspan="2">Placeholder</td>
              <td>Placeholder</td>
              <td>Placeholder</td>
            </tr>
            <tr>
              <th scope="row">Placeholder</th>
              <td colspan="2">Placeholder</td>
              <td>Placeholder</td>
              <td>Placeholder</td>
            </tr>
            <tr>
              <th scope="row">Placeholder</th>
              <td colspan="2">Placeholder</td>
              <td>Placeholder</td>
              <td>Placeholder</td>
            </tr>
            <tr>
              <th scope="row">Placeholder</th>
              <td colspan="2">Placeholder</td>
              <td>Placeholder</td>
              <td>Placeholder</td>
            </tr>
            
          </tbody>
        </table>
        <!-- </div> -->
        <!-- <div class="buttons">
                  <a class="btn btn-primary" >Logout</a>
              </div> -->
      </div>
    </div>
  </div>
  
  
  </div>