<h1 class="container-header">Aging by Category Report</h1>
<mat-divider></mat-divider>

<div class="demo-button-container">
  <button mat-raised-button color="primary" matTooltip="Generate aging tickets according to category" (click)="exportAgingCategoryCsv()">
    Export to CSV
  </button>

<div id="table-container">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="ticketID">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.ticketID}} </td>
    </ng-container>
    <ng-container matColumnDef="tracker">
      <th mat-header-cell *matHeaderCellDef> Tracker </th>
      <td mat-cell *matCellDef="let element"> {{element.tracker.typeName }} </td>
    </ng-container>
    <ng-container matColumnDef="subject">
      <th mat-header-cell *matHeaderCellDef> Subject </th>
      <td mat-cell *matCellDef="let element"> {{element.subject }} </td>
    </ng-container>
    <ng-container matColumnDef="assignee">
        <th mat-header-cell *matHeaderCellDef> Assignee </th>
        <td mat-cell *matCellDef="let element"> {{element.assignee.userFName}} {{element.assignee.userLName}} </td>
      </ng-container>
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let element"> {{element.status.statusName }} </td>
    </ng-container>
    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef> Created At </th>
      <td mat-cell *matCellDef="let element"> {{ element.createdAt[0] }}-{{ element.createdAt[1] }}-{{ element.createdAt[2] }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>