<i id="top"></i>
  
    <nav>
        <div class = "img-container">
            <a href ="top"><img src="assets/Grm.png" alt=""></a>
        </div>
        
            <ul>
                <li><a href="#top">Home</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#team">Team</a></li>   
            </ul>
        <div class="button-nav-container">
            <button id="logBtn">Log-in</button>
            <button id="signBtn">Sign-up</button>
        </div>
        
        
    </nav>

    <div class="container">
        <section class="hidden" >
            <div>
                <!-- Keep easy to track your employee's requests. -->
                <!-- Keep track like a boss! -->
                <h1>Keep <span>easy to track</span> your employee's requests.</h1>
                <h3>Keep track like a boss!</h3>
                <button id="getBtn" class="fs-3 fw-normal" (click)="nav('login')">Get Started <i class="bi bi-arrow-right ps-2 pe-0"></i></button>
            </div>
            <div class="logos d-flex justify-content-center my-5">
                <div class="logo hidden">
                    <img src ="assets/3d1.png">
                </div>
                <!-- <div class="logo hidden">
                    <img src ="assets/3d2.png">
                </div> -->
                <!-- <div class="logo hidden">
                    <img src ="assets/3d3.png">
    
                </div> -->
                
            </div>
           
        </section>
    
        <section class="hidden" id = "services">
            <div>
                <!-- Better HR request tracking  -->
                <h1>Better HR request <span>tracking</span>!</h1>
            </div>
        </section>
    
        <section class="hidden" id = "about">
            <h1>Get to know <span>G8</span></h1>
        </section>
    
        <section class="hidden" id = "team">
    
        </section>
        <section class="hidden" id = "contact">
    
        </section>
    
    
    
    </div>







