

<a id="top"></a>
<nav  class="navbar  navbar-expand-lg navbar-light bg-light shadow-sm py-2 mb-5 bg-white rounded sticky-top">
   
    <div  class="container-fluid">
        
        <a href = "#"class="navbar-brand  ps-2 me-auto my-2  ">
            <img  
            src="assets/Grm.png" 
            alt="Team logo" 
            class="d-inline-block align-top" 
            width="50" 
            height ="50">
        </a>
    
        <div  class = "collapse navbar-collapse">
            <ul class="navbar-nav ms-auto ms-auto mb-2 mb-xl-0">
                <li class="nav-item">
                    <a href="#top" class="nav-link mx-1  fs-5">Home</a>
                </li>
                <li class="nav-item">
                    <a href="#services" class="nav-link mx-1  fs-5">Services</a>
                </li>
                <li class="nav-item">
                    <a href="#about" class="nav-link mx-1  fs-5">About</a>
                </li>
                <li class="nav-item">
                    <a href="#team" class="nav-link mx-1  fs-5">Team</a>
                </li>
                <button class="btn btn-danger ms-3 me-3 ">Contact Us</button>
            </ul>
        </div>
    </div>
    </nav>

    
    <section class="hidden text-center mb-5" >
        <div>
            <p class="text-black fs-1">Keep <strong style="color:red">easy to track</strong> your employee's requests.</p>
            <p class="text-black fs-5">Keep track like a boss!</p>
            <button id="getBtn" class="fs-3 fw-normal" (click)="nav('login')">Get Started <i class="bi bi-arrow-right ps-2"></i></button>
        </div>
        <div class="logos d-flex justify-content-center my-5">
            <div class="logo hidden">
                <img src ="assets/3d1.png">
            </div>
            <!-- <div class="logo hidden">
                <img src ="assets/3d2.png">
            </div> -->
            <!-- <div class="logo hidden">
                <img src ="assets/3d3.png">

            </div> -->
            
        </div>
       
    </section>

    <section class="hidden text-center " id = "services">
        <div>
            <p class="text-black fs-1">Better HR request <strong>tracking</strong>!</p>
        </div>
    </section>

    <section class="hidden text-center " id = "about">
        <p class="text-black fs-1">Get to know <strong style="color:red">G8</strong></p>
    </section>

    <section class="hidden text-center" id = "team">

    </section>
    <section class="hidden text-center" id = "contact">

    </section>