

nav{
    top:0px;
    position: sticky;
    //border: 1px solid blue;
    padding:0;
    background-color: #fff;
    max-height: 10%;
    box-shadow: 0 -1.3px 8px 0 rgba(0, 0, 0, 0.2);
    height: 10%;
    display:flex;
    z-index: 9999;
    
    
    align-items: center;
    
    
    
}

button{
    padding: 0.75rem 2rem 0.75rem 2rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 5px 40px -5px rgba(128, 128, 128, 0.54);
    border: transparent;
    transition-duration: 250ms;
}

button:hover{
    background-color: red;
    color:white;
    box-shadow: 0px 5px 30px -10px rgba(128, 128, 128, 0.54);
}


.img-container{
    display: flex;
    height: 100%;
    width: auto;
    padding:0;
    
    img{
        height: 100%
    }
}



nav ul{
    font-size: 1.25rem;
    // border: 1px solid magenta;
    list-style: none;
    padding:0;
    margin: 0;
    width: 80%;
    display:flex;
    justify-content: start;
    align-items: center;
    
    
}

nav li{
    margin-left: 1.125rem;
    // border: 2px dotted orange;
}

nav a{
    color:black;
    text-decoration: none;
    transition-duration: 250ms;
}
nav a:hover{
    color:red;
}

.button-nav-container{
    
    width: 40%;
    display:flex;
    justify-content: end;
    button{
        margin-right: 1.5rem;
        padding: 0.75rem 1.2rem 0.75rem 1.2rem;
    }

    #signBtn{
        color:white;
        background-color: red;
        transition-duration: 250ms;
    }

    #signBtn:hover{
        border:0.5px solid red;
        background-color: white;
        color:red;
        //border-radius: 10px;
        box-shadow: 0px 5px 40px -5px rgba(128, 128, 128, 0.54);
    }
    
}



.container{
    margin:0 auto;
    // sborder: 1px solid black;
    padding: 0;
    width: 80%;
}

section{
    
    padding-top: 5em;
    // border: 1px solid magenta;
    display: flex;
    flex-direction: column;
    text-align: center;

    img{
        height: 100%
    }
}

h1, h2,strong{
    font-size: 2.2rem;
    font-weight: 500;
        
}


//Headers config
h1 span{
    
    color: red;

}

h1,h2{
    margin-bottom: 0.75rem;
}

h3{
    font-size: 1.125rem;
    margin-bottom: 2rem;
}

//Headers config


.hidden{
    opacity: 0;
    filter:blur(5px);
    transform: translateY(-100%);
    transition: all 1500ms;
   
}

.show{
    opacity: 1;
    filter:blur(0);
    transform: translateX(0);

}



