<!-- User Tickets Table -->
<h1 class="container-header">Your Tickets</h1>
<mat-divider></mat-divider>

<div class="search">
  <mat-form-field appearance="fill" id="searchBar">
    <mat-label>Search</mat-label>
    <input type="text" matInput (change)="searchKey($event)">
  </mat-form-field>
</div>

<div id="table-container">
  <table mat-table [dataSource]="userTickets" class="mat-elevation-z8" matSort (matSortChange)="sortAllTickets($event)">
    <ng-container matColumnDef="ticketID">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.ticketID}} </td>
    </ng-container>
    <ng-container matColumnDef="assignee">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Assignee </th>
      <td mat-cell *matCellDef="let element"> {{element.assignee.userFName}} {{element.assignee.userLName}} </td>
    </ng-container>
    <ng-container matColumnDef="tracker">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Tracker </th>
      <td mat-cell *matCellDef="let element"> {{element.tracker.typeName }} </td>
    </ng-container>
    <ng-container matColumnDef="subject">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Subject </th>
      <td mat-cell *matCellDef="let element"> <a href="javascript:void(0)" (click)="openDialogView(element)"> {{element.subject }} </a> </td>
    </ng-container>
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
      <td mat-cell *matCellDef="let element"> {{element.status.statusName }} </td>
    </ng-container>
    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Created At </th>
      <td mat-cell *matCellDef="let element"> {{ element.createdAt[0] }}-{{ element.createdAt[1] }}-{{ element.createdAt[2] }} </td>
    </ng-container>
    <ng-container matColumnDef="view">
      <th mat-header-cell *matHeaderCellDef> View </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="primary" (click)="openDialogView(element)">
          <mat-icon class="mat-18">subdirectory_arrow_right</mat-icon>
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="update">
      <th mat-header-cell *matHeaderCellDef> Update </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="accent" (click)="openDialogUpdate(element)">
          <mat-icon class="mat-18">system_update</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <div *ngIf="isTicketsLoading" style="display: flex; justify-content: center; align-items: center; background: white;">
      <mat-progress-spinner 
      color="primary"
      mode="indeterminate"
      ></mat-progress-spinner>
  </div>

  <mat-paginator
      [length]="ticketPageData.count"
      [pageSize]="ticketPageData.size"
      (page)="changeTicketPage($event)">
  </mat-paginator>
</div>

<!-- Aging Tickets Table -->

<h1 class="container-header">Your Aging Tickets</h1>
<mat-divider></mat-divider>

<div id="table-container">
  <table mat-table [dataSource]="agingTickets" class="mat-elevation-z8" matSort (matSortChange)="sortAgingTickets($event)">
    <ng-container matColumnDef="ticketID">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.ticketID}} </td>
    </ng-container>
    <ng-container matColumnDef="assignee">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Assignee </th>
      <td mat-cell *matCellDef="let element"> {{element.assignee.userFName}} {{element.assignee.userLName}} </td>
    </ng-container>
    <ng-container matColumnDef="tracker">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Tracker </th>
      <td mat-cell *matCellDef="let element"> {{element.tracker.typeName }} </td>
    </ng-container>
    <ng-container matColumnDef="subject">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Subject </th>
      <td mat-cell *matCellDef="let element"> <a href="javascript:void(0)" (click)="openDialogView(element)"> {{element.subject }} </a> </td>
    </ng-container>
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
      <td mat-cell *matCellDef="let element"> {{element.status.statusName }} </td>
    </ng-container>
    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Created At </th>
      <td mat-cell *matCellDef="let element"> {{ element.createdAt[0] }}-{{ element.createdAt[1] }}-{{ element.createdAt[2] }} </td>
    </ng-container>
    <ng-container matColumnDef="view">
      <th mat-header-cell *matHeaderCellDef> View </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="primary" (click)="openDialogView(element)">
          <mat-icon class="mat-18">subdirectory_arrow_right</mat-icon>
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="update">
      <th mat-header-cell *matHeaderCellDef> Update </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="accent" (click)="openDialogUpdate(element)">
          <mat-icon class="mat-18">system_update</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <div *ngIf="isAgingLoading" style="display: flex; justify-content: center; align-items: center; background: white;">
      <mat-progress-spinner 
      color="primary"
      mode="indeterminate"
      ></mat-progress-spinner>
  </div>

  <mat-paginator
      [length]="agingPageData.count"
      [pageSize]="agingPageData.size"
      (page)="changeAgingPage($event)">
  </mat-paginator>
</div>