<div class="container">
    <div class="login-container">
        <div class = "login-container img-welcome">
            <h1>Recover account</h1>
        </div>
        <h3>Input your email address</h3>
        <div>
            <form class="login-form" [formGroup]="form">
                <mat-form-field class="example-full-width">
                  <mat-label>Email</mat-label>
                  <input type="email" matInput [formControl]="email" placeholder="Ex. pat@example.com">
                  <mat-error *ngIf="email.hasError('required')">
                    Email is <strong>required</strong>
                  </mat-error>
                  <mat-error *ngIf="email.hasError('email')">
                    Please input a <strong>valid email</strong>
                  </mat-error>
                </mat-form-field>
                <div id="login-creds">
                  <a href="/login">Go back to Login</a>
                </div>
              </form>
        </div>
    <button (click)="submit()">Submit</button>
</div>