<div class="container">
    <div class="login-container">
        <div class = "login-container img-welcome">
            <h1>Reset password</h1>
        </div>
        <h3>Input your new password</h3>
        <div>
            <form class="login-form" [formGroup]="form">
                <mat-form-field class="example-full-width">
                    <mat-label>New password</mat-label>
                    <input type="Password" matInput [formControl]="password">
                    <mat-error *ngIf="password.hasError('required')">
                        Password is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Confirm pasword</mat-label>
                    <input type="Password" matInput [formControl]="confirmPassword" [errorStateMatcher]="matcher">
                    <mat-error *ngIf="form.hasError('notSame')">
                        Passwords do not match
                    </mat-error>
                </mat-form-field>
              </form>
        </div>
    <button (click)="changePassword()">Reset password</button>
</div>