<h1 mat-dialog-title>Update Role</h1>
<div mat-dialog-content>
    <mat-form-field appearance="fill">
        <mat-label>Role Name</mat-label>
        <input matInput [(ngModel)]="data['role'].roleName" required>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Role Abbreviation</mat-label>
        <input matInput [(ngModel)]="data['role'].roleAbbv" required>
      </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Back</button>
  <button mat-button (click)="updateRole(data['role'])">Create</button>
</div>