<h1 mat-dialog-title>Add Tracker</h1>
<div mat-dialog-content>
    <mat-grid-list cols="3" rowHeight="3:1">
        <mat-grid-tile>
            <mat-form-field appearance="fill">
                <mat-label>Tracker Name</mat-label>
                <input matInput [(ngModel)]="typeName" required>
              </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field appearance="fill">
                <mat-label>Description</mat-label>
                <input matInput [(ngModel)]="description">
              </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field appearance="fill">
                <mat-label>Default Assignee</mat-label>
                <mat-select [(ngModel)]="defaultAssignee" required>
                    <mat-option *ngFor="let assignee of assigneeList" [value]="assignee.userID" (onSelectionChange)="selectAssignee(assignee, $event)">
                        {{ assignee.userFName }} {{ assignee.userLName }}
                    </mat-option>
                </mat-select>
              </mat-form-field>
        </mat-grid-tile>
    </mat-grid-list>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Back</button>
  <button mat-button (click)="createTracker()">Create</button>
</div>